@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

body {
    @include themify($themes) {
        //background-color: theme('body-bgcolor');
        color: theme('body-color');
    }
    min-height: 200vh;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}

.logo {
    background-color: #fa372c;
    color: white;
    font-weight: bold;
}

.header {
    //width: 100%;
    height: 100px;
    .logo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;

        .title {
            font-size: 1.75rem;
        }
        .tagline {
            font-weight: normal;
            margin-top: -5px;
            font-size: 0.75rem;
        }
    }
}

.navbar {
    display: flex;
    height: 2rem;
    background-color: black;
    color: #808080;
    position: sticky;
    top: 0;
    z-index: 1;
    .container {
        display: flex;
        //height: 2rem;
    }
    .navitem {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid transparent;
        padding: 0.5rem;
    }
    .navitem.active {
        border-color: #fa372c;
        color: #fa372c;
        color: #ffffff;
    }
    .navitem:hover {
        color: #ffffff;
        border-color: #fa372c;
    }
    /*.container:hover .navitem.active {
        color: #808080;
        border-color: transparent;
    }*/

}
