@import "variables";

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
    transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
}

a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

button {
    outline: none;
}

.close-btn, .scroll-to-top {
    border: none;
    margin: 14px;
    font-size: 20px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.scroll-to-top {
    position: fixed;
    font-size: 24px;
    margin: 14px 28px;
    z-index: 10;
    bottom: 0;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
}

.form-input {
    margin-bottom: 10px;
    position: relative;
    padding-top: 20px;
}

.form-label {
    @include themify() {
        color: theme(body-altcolor);
    }
    position: absolute;
    transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    pointer-events: none;
    left: 3px;
    top: 50%;
}

input {
    position: relative;
    background: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    padding: 3px;
    padding-top: 10px;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-appearance: none;
}

input:focus + .form-label, input:valid + .form-label {
    top: 3px;
    font-size: 12px;
    color: #fa372c;
}

input, select {
    @include themify() {
        border-bottom: 1px solid theme(body-altcolor);
        color: theme(body-altcolor);
    }
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: none;
    background: transparent;
    padding: 4px 3px;
}

input:focus, select:focus {
    border-bottom: 1px solid #fa372c;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px transparent inset;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
    @include themify() {
        color: theme(body-altcolor);
    }
}

input:required {
    box-shadow: none;
}

input[type='submit'] {
    width: auto;
    margin: auto;
    color: #bebebe;
    background: rgba(#fa372c, 1);
    padding: 10px 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
}


body {
    @include themify() {
        color: theme(body-color);
    }
    width: 100vw;
    height: 100vh;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    left: 0;
    background-position: 50%;
}

.navbar .home, .header .logo {
    background-color: #fa372c;
    color: #ffffff;
    font-weight: bold;
}

.header {
    color: #ffffff;
    height: 100px;
    .logo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        .title {
            font-size: 1.75rem;
        }
        .tagline {
            margin-top: -5px;
            font-size: 0.75rem;
            font-weight: normal;
        }
    }
}

.navbar {
    @include themify() {
        background-color: theme(body-bgcolor);
        color: theme(body-altcolor);
    }
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    height: 2rem;

    .container {
        display: flex;
    }
    .navitem {
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid transparent;
        padding: 0.5rem;
        font-size: 14px;
    }
    .active:not(.home) {
        color: #fa372c;
        border-color: #fa372c;
    }
}

main {
    background: inherit;
    position: relative;
    overflow: hidden;
    height: 1000px;
    z-index: 1;
    border-radius: 5px;
    margin: 1rem;
    padding: 20px;
}

main::before {
    @include themify() {
        box-shadow: inset 0 0 1000px rgba(theme(body-bgcolor), .8);
    }
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(20px);
    /*transform:translatez(0);
    -webkit-transform:translatez(0);*/
}

.login, .register {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    .container {
        @include themify() {
            background-color: rgba(theme(body-bgcolor), 0.8);
            color: theme(body-altcolor);
        }
        border-radius: 5px;
        text-align: center;
        width: 320px;
        margin: auto;
        overflow: auto;
        position: relative;
        padding: 60px 30px;
        .links {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}
.login.active, .register.active {
    display: flex;
}

/*@media only screen and (max-height: 320px) {
    .login, .register {
        .container {
            top: 0;
            transform: translate(-50%, 0);
        }
    }
}*/
