/*// Body
$body-bgcolor: theme(body-bgcolor);
$body-color: theme(body-color);*/
* {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.theme-light h1 {
  background-color: white;
}
.theme-dark h1 {
  background-color: black;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

body {
  min-height: 200vh;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
}
.theme-light body {
  color: black;
}
.theme-dark body {
  color: white;
}

.navbar .home, .header .logo {
  background-color: #fa372c;
  color: white;
  font-weight: bold;
}

.header {
  height: 100px;
}
.header .logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.header .logo .title {
  font-size: 1.75rem;
}
.header .logo .tagline {
  font-weight: normal;
  margin-top: -5px;
  font-size: 0.75rem;
}

.navbar {
  display: flex;
  height: 2rem;
  background-color: #000000;
  color: #808080;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar .container {
  display: flex;
}
.navbar .navitem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  padding: 0.5rem;
  font-size: 14px;
}
.navbar .navitem.active {
  border-color: #fa372c;
  color: #fa372c;
  color: #ffffff;
}
.navbar .navitem:hover {
  color: #ffffff;
  border-color: #fa372c;
}
