/*// Body
$body-bgcolor: theme(body-bgcolor);
$body-color: theme(body-color);*/
* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

body {
  min-height: 200vh;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
}
.theme-light body {
  color: #000000;
}
.theme-dark body {
  color: #ffffff;
}

.navbar .home, .header .logo {
  background-color: #fa372c;
  color: #ffffff;
  font-weight: bold;
}

.header {
  height: 100px;
}
.header .logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.header .logo .title {
  font-size: 1.75rem;
}
.header .logo .tagline {
  margin-top: -5px;
  font-size: 0.75rem;
  font-weight: normal;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  height: 2rem;
}
.theme-light .navbar {
  background-color: #ffffff;
  color: #72767f;
}
.theme-dark .navbar {
  background-color: #000000;
  color: #b7bbc0;
}
.navbar .container {
  display: flex;
}
.navbar .navitem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  padding: 0.5rem;
  font-size: 14px;
}
.navbar .navitem.active:not(.home) {
  color: #fa372c;
  border-color: #fa372c;
}

main {
  background: inherit;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  margin: 1rem;
}

main::before {
  content: "";
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px);
  margin: -1rem;
  transform: translatez(0);
  -webkit-transform: translatez(0);
}
.theme-light main::before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.7);
}
.theme-dark main::before {
  box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.7);
}
